H1 {
	color:WHITE;
	margin:0 auto;
	margin-top:15px;
	padding:0;
	width:860px;
	height:65px;
	text-align:left;
}
H2 { color:WHITE; margin-top:0; margin-right:auto; margin-left:auto; padding-top:10px; width:870px; height:45px; position:relative; z-Index:1000;
	font-family: verdana;
	font-size: 16px;
	font-weight:bold;}
BODY { margin-top:0; margin-bottom:0; margin-left:2%; margin-right:2%; padding:0px; background: BLACK no-repeat; background-position:center top; text-align:center; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;font-size: .8em;}

p.standard {
	color: white;
	font-family: verdana;
	font-size: 10px;
	font-weight:normal;
	margin-top:5px;
}

div.subbarholder { margin-top:0; margin-right:auto; margin-left:auto; padding:0; height:27px; position:relative; text-align:center; }

div.standard, table.standard {
	border-collapse:separate;
	margin:auto;
	margin-top:0px;
	border-spacing:0px;
	border-color:BLACK;
	color:BLACK;
	font-family:verdana;
	font-size:10px;
	font-weight:normal;
	border:1px solid #000;
}

span.selectLeft {
	background-image: url(../../images/new/selectleft.png);
	width:6px;
	height:29px;
	float: left;
}
span.selectRight {
	background-image: url(../../images/new/selectright.png);
	width:21px;
	height:29px;
	float: left;
}
/* Active,Hover and Normal states */
span.button,
span.buttonActive,
span.buttonOver {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	color:#000;
	height:34px;
}
span.button {
	background-image:url(../../images/new/button.png);
}
span.buttonActive {
	background-image:url(../../images/new/buttondown.png);
}
span.buttonOver {
	background-image:url(../../images/new/buttonover.png);
}

span.subbar {
	height:22px;
	background-image:url(../../images/new/subbar.png);
	float:left;
	text-align:center;
	color:WHITE;
	font-family: verdana;
	font-weight:bold;
	font-size: 12px;
	padding-top:5px;
}

table.standard {
	margin:auto;
	margin-top:0px;
	border-spacing:0px;
	border-color:BLACK;
	color:BLACK;
	font-family:verdana;
	font-size:10px;
	font-weight:normal;
	border:1px solid #000;
}
table.data {border-color:BLACK; background-color:BLACK; border-spacing:1px}
table.toprow {background-color: #D3DFC7; border-color: #D3DFC7 #D3DFC7 #D3DFC7 #D3DFC7; border-width: 2px 0px 2px 0px; border-style: outset none outset none;}

tr.inoutboard {
	color: white;
	font-family: verdana;
	font-size: 10px;
	font-weight:normal;
	margin-top:5px;}

td.toprow {background-color: #D3DFC7; border-style: outset none; border-color: #D3DFC7; border-width: 1px 0px;}
td.cellblock {border-color: #184316; border-style: solid; }

.tray {
	border-style:solid;
	border-spacing:0px;
	border-width:0px 1px;
	width: 860px;
	margin:auto;
	position:relative;
	background-image:url(../../images/new/mainbackground.png);
	min-height:450px;
	overflow:visible;
	padding-top:1px;
}

.heading {
	background-image:url(../../images/new/headingtexture.png);
	color:WHITE;
	height:25px;
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	border:1px solid #000;
}
.content1 { background-image:url(../../images/new/contentbackground.png); margin:auto; }
.content2 { background-image:url(../../images/new/contentbackgroundalt.png); margin:auto; }

.midrow {height:23px; background-image:url(../../images/new/subbar.png);}

.drag, .list { width: 500px; }
.draghandle, .listhandle { width: 20px; }
.drag { z-index: 100; position:absolute; background-color:BLACK; }
.list {	position:relative; top: 0px; left: 0px; z-index: 1; opacity: 1; }

font.MANY12	{color: yellow; font-family: verdana; font-size:12px; height:11px }
font.HEADER	{color: white; font-family: verdana; font-size:11px; height:11px }
font.HEADING {color: black; font-family: verdana; font-size:12px; height:11px; font-weight:bold }
font.BADHEADING		{color: red; font-family: verdana; font-size:11px; height:11px; font-weight:bold }
font.COLHEADING {color: green; font-family: verdana; font-size:11px; height:11px; font-weight:bold }
font.STANDARD {color: black; font-family: verdana; font-size:11px; height:8px }
font.SMALLNOTE {color: black; font-family: verdana; font-size:10px; height:11px }
font.NOCOLOUR {font-family: verdana; font-size:11px; height:11px }

input.standard {width:120px;}
input.toprow {width:100px;}
input.loginmid {color:#BBBBBB; background-image:url(../../images/new/loginmid.png); border:0px; height:23px; width:90px; float:left; margin-top:4px;}

textarea.blank_input {font-family: verdana; font-size:10px; border-color: green; border-width: 0px; border-style: solid}
textarea.standard {height:100%; border-color:BLACK BLACK BLACK BLACK; border-width:1px 0px 0px 1px; border-style: solid; font-family: verdana; font-size:12px;}
input.line_input {border-color: green; border-width: 1px; border-style: solid}
input.blank_input	{border-width: 0px; border-style: solid}

a.BLANK {text-decoration:none}
/* the div that holds the date picker calendar */
.dpDiv {}
/* the table (within the div) that holds the date picker calendar */
.dpTable {font-family: Tahoma, Arial, Helvetica, sans-serif;font-size: 12px;text-align: center;color: #505050;background-color: #ece9d8;border: 1px solid #AAAAAA;}
/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {}
/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {}
/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {}
/* the bottom table row, that has the 'This Month' and 'Close' buttons */
.dpTodayButtonTR {}
/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {border: 1px solid #ece9d8;}
/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {background-color: #CCCCCC;border: 1px solid #AAAAAA;}
/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {background-color: #aca998;border: 1px solid #888888;cursor: pointer;color: red;}
/* the table cell that holds the name of the month and the year */
.dpTitleTD {}
/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {}
/* the table cell that holds the 'This Month' or 'Close' button at the bottom */
.dpTodayButtonTD {}
/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {background-color: #CCCCCC;border: 1px solid #AAAAAA;color: white;}
/* additional style information for the text that indicates the month and year */
.dpTitleText {font-size: 12px;color: gray;font-weight: bold;}
/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {color: #4060ff;font-weight: bold;}
/* the forward/backward buttons at the top */
.dpButton {font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;font-size: 10px;color: gray;background: #d8e8ff;font-weight: bold;padding: 0px;}
/* the 'This Month' and 'Close' buttons at the bottom */
.dpTodayButton {font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;font-size: 10px;color: gray;background: #d8e8ff;font-weight: bold;}


#ajaxDiv{background-color:transparent;margin:10px auto;width:315px;}
#home{background-image:url(../../images/new/icon-home.png);width:63px;}
#home:active{background-image:url(../../images/new/icon-home-active.png);}
#home:hover{background-image:url(../../images/new/icon-home-over.png);}
#Documents{background-image:url(../../images/new/icondocuments.png);width:53px;}
#Documents:active{background-image:url(../../images/new/icon-documents-active.png);}
#Documents:hover{background-image:url(../../images/new/icon-documents-over.png);}
#Gallery{background-image:url(../../images/new/iconphotos.png);width:72px;}
#Gallery:active{background-image:url(../../images/new/icon-photos-active.png);}
#Gallery:hover{background-image:url(../../images/new/icon-photos-over.png);}
#InOut{background-image:url(../../images/new/iconinout.png);width:58px;}
#InOut:active{background-image:url(../../images/new/icon-inout-active.png);}
#InOut:hover{background-image:url(../../images/new/icon-inout-over.png);}
#loginbutton,#logoutbutton{display:inline-block;height:24px;margin-left:5px;margin-top:4px;}
#loginbutton{background-image:url(../../images/new/button_login.png);width:48px;}
#loginbutton:active{background-image:url(../../images/new/button_login_active.png);}
#loginbutton:hover{background-image:url(../../images/new/button_login_over.png);}
#logoutbutton{background-image:url(../../images/new/button_logout.png);width:60px;}
#logoutbutton:active{background-image:url(../../images/new/button_logout_active.png);}
#logoutbutton:hover{background-image:url(../../images/new/button_logout_over.png);}
#Max{background-image:url(../../images/new/iconmax.png);width:58px;}
#Max:active{background-image:url(../../images/new/icon-max-active.png);}
#Max:hover{background-image:url(../../images/new/icon-max-over.png);}
#roundedCornerBottom:after{content:url(../../images/new/main-black-bottom-right.png);position:absolute;right:-8px;top:0px;}
#roundedCornerBottom:before{content:url(../../images/new/main-black-bottom-left.png);left:-8px;position:absolute;top:0px;}
#roundedCornerBottom{background-image:url(../../images/new/main-black-bottom.png);height:8px;margin:0px auto;position:relative;}
#roundedCornerTop:after{content:url(../../images/new/main-black-top-right.png);position:absolute;right:-8px;top:0px;}
#roundedCornerTop:before{content:url(../../images/new/main-black-top-left.png);left:-8px;position:absolute;top:0px;}
#roundedCornerTop{background-image:url(../../images/new/main-black-top.png);height:8px;margin:0px auto;position:relative;width:846px;}
#Zimbra{background-image:url(../../images/new/iconzimbra.png);width:63px;}
#Zimbra:active{background-image:url(../../images/new/icon-zimbra-active.png);}
#Zimbra:hover{background-image:url(../../images/new/icon-zimbra-over.png);}
.bold{font-size:0.9em;font-weight:bold;}
.clear {clear:both;}
.column {float:left;min-height:100px;padding:5px;position:relative;text-align:left;}
.column a,.gallery a{color:#FFF; text-decoration:none;}
.error{color:#6D0303;}
.error,
.information,
.notice {background-image:url(../../images/new/contentbackground.png);border:1px solid #000;margin:0px 5px;padding:5px;text-align:left;}
.error img,
.information img,
.notice img {float:left; height:46px ;margin:5px 10px; width:46px;}
.gallery {background-image:url(../../images/new/mainblack.png);border:1px solid #000;margin-bottom:10px;margin-left:10px;margin-right:10px;width:250px;padding:0px;}
.gallery h3{color:#FFF;font-size:1.05em;}
.greenPromiseLi{color:#FFF;text-align:left;margin-bottom:10px;}
.headerA {display:inline-block;height:64px;padding:0px 5px;}
.information{color:#000;}
.informationBar:after{content:url(../../images/new/infobar_right.png);height:15px;position:absolute;right:-7px;top:0px;width:7px;}
.informationBar:before{content:url(../../images/new/infobar_left.png);height:15px;left:-7px;position:absolute;top:0px;width:7px;}
.informationBar{background-image:url(../../images/new/infobar_mid.png);font-size:0.8125em;height:15px;margin:5px auto -18px;max-width:820px;padding-top:2px;position:relative;}
.notice{color:#0346DE;}
.manline{list-style-type:none;margin:0px;padding:0px 15px;}
.manline li a {color:#000;}
.manline li ul {list-style-image:url(../../images/new/list-bullet-small.png);margin:0px;padding:0px 10px;}
.menu {background-image:url(../../images/new/droplist_mid.png);height:22px;list-style-type:none;margin:0px;margin-left:10px;margin-top:5px;padding:0px;width:190px;}
.menu li {color:#FFF;font-size:11px;font-weight:normal;height:22px;text-align:left;}
.menu li a {color:#FFF;display:inline-block;height:12px;padding:5px;text-decoration:none;width:180px;}
.menu li ul li {background-color:#4C4C4C;font-size:10px;}
.menuItem {background-color:#2F2F2F;}
.menuItem a:hover {background-color:#444;}
.paginatorBottom, .paginatorBottomRounded, .paginatorTop, .paginatorTopRounded {
        background-image:url(../../images/new/pagination_top.png);
        color:#333;
        font-size:12px;
        height:17px;
        padding:4px 0px;
        position:relative;
}
.paginatorBottom a, .paginatorBottomRounded a, .paginatorTop a, .paginatorTopRounded a {
        color:#000;
        text-decoration: none;
}
.paginatorBottomRounded:after {
        content:url(../../images/new/pagination_bottom_right.png);
        right:-6px;
        position:absolute;
        top:0px;
}
.paginatorBottomRounded:before {
        content:url(../../images/new/pagination_bottom_left.png);
        left:-6px;
        position:absolute;
        top:0px;
}
.paginatorBottomRounded, .paginatorTopRounded {
        margin:0px 5px;
}
.paginatorBottomRounded {
        z-index:5;
}
.paginatorFirst,.paginatorNext,.paginatorPrevious,.paginatorLast {
        height:13px;
        position:absolute;
        top:6px;
}
.paginatorFirst {
        left:15px;
        width:16px;
}
.paginatorNext {
        right:35px;
        width:20px;
}
.paginatorPrevious {
        left:35px;
        width:20px;
}
.paginatorLast {
        right:15px;
        width:16px;
}
.paginatorTop{
        margin-top:-2px;
}
.paginatorTopRounded {
        margin-top:-9px;
}
.paginatorTopRounded:after {
        content:url(../../images/new/pagination_top_right.png);
        right:-6px;
        position:absolute;
        top:0px;
}
.paginatorTopRounded:before {
        content:url(../../images/new/pagination_top_left.png);
        left:-6px;
        position:absolute;
        top:0px;
}
.userProfile{background-image:url(../../images/new/profile.png);color:#FFF;height:142px;position:relative;width:314px;}
.userProfile img {border:1px solid #000;left:10px;position:absolute;top:12px;}
.userProfileBasicData{position:absolute;right:15px;top:15px;width:183px;}
.userProfileBasicData h3 {margin:0px;margin-bottom:3px;padding:0px;}
.userProfileBasicData h4 {margin:0px;padding:0px;}
.userProfileMoreInformation {
	background-image:url(../../images/new/profile-expanded-top.png);
	background-repeat:no-repeat;
	padding-top:32px;
	position:absolute;
	right:3px;
	top:105px;
	width:304px;
}
.userProfileMoreInformation:after{
	content:url(../../images/new/profile-expanded-bottom.png);
}
.userProfileMoreInformation div {
	background-image:url(../../images/new/profile-expanded-mid.png);
	background-repeat:repeat-y;
	padding:0px 13px;
	width:284px;
}
.userProfileMoreInformation label{color:#000;}
.userProfileMoreLess:active {background-position:center bottom;}
.userProfileMoreLess:hover {background-position:center center;}
.userProfileMoreLess {background-image:url(../../images/new/profile-button.png);background-position:center top;bottom:10px;color:#000;cursor:pointer;font-size:0.8125em;height:12px;padding:5px 10px;position:absolute;right:9px;text-align:center;width:24px;}
a img {border:none;}
fieldset{border:1px solid #000;margin-bottom:5px;}
label {color: white;display:inline-block;float:left;font-family: verdana;font-size: 11px;font-weight:normal;vertical-align:top;width:200px;}
legend{padding:0px 15px;}