@font-face {
    font-family: 'gotham_light';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_book';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutiger_roman';
    src: url('../fonts/FrutigerLTStd-Roman.eot');
    src: url('../fonts/FrutigerLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerLTStd-Roman.woff') format('woff'),
         url('../fonts/FrutigerLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'frutigerlt_light';
    src: url('../fonts/FrutigerLTStd-Light.eot');
    src: url('../fonts/FrutigerLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerLTStd-Light.woff') format('woff'),
         url('../fonts/FrutigerLTStd-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}